:root{
    --color-background: #0F3460;
    --color-background-dark: #000f22;
    --color-background-dark-hover: #022553;
    --color-text-light: #ffffff;
    --color-pink: #E94560;
}

body{
    background-color: var(--color-background);
    color: var(--color-text-light);
}