@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Jost:wght@400;700;800&display=swap');
@import url('./main.css');

:root{
    --color-background: #0F3460;
    --color-background-dark: #000F22;
    --color-background-dark-hover: #022553;
    --color-background-dark-hover-hover: #083166;
    --color-translucent-background-dark: #000f2260;
    --color-text-light: #FFFFFF;
    --color-pink: #E94560;
    --color-translucent-pink: #E9456081;
    --color-translucenter-pink: #e945607a;
    --color-cream: #F9F9F9;
    --color-cream-hover: #dfdfdf;
    --color-textonwhite: #16213E;
    --color-light-blue:#375E97;
    --color-purple:#5d3483;
    --color-purple-dark:#442f5f;
}
.page-section-title{
    font-size: larger;
    text-align: center;
}

*{
    box-sizing: border-box !important;
}

body{
    background: radial-gradient(#0F3460, #071c35);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    color: var(--color-text-light);
}

.title-hammersmith{
    font-family: 'Hammersmith One', sans-serif;
    font-weight:normal;
    text-decoration: none;
}

